<!--<h1>FrontEnd#answer</h1>-->
<h1>
  <% if @answer.correct %>
  <p align="center"><strong><font size="50" color=”#7FFF00”>Brav@!!!</font></strong></p>
  <br>
  <br>
  <p align="center"><%= image_tag "http://www.electroschematics.com/wp-content/uploads/2008/12/clapping.jpg" %>
  <% else %></p>

  <p align="center"><font size= "50" color="#DC143C"><strong>Asin@!</strong></font></p>
  <p align="center"><%= image_tag "http://www.ragusanews.com/immagini_articoli/31-12-2007/1396864141-valentina-l-asina-netturbina.jpg" %>
  <% end %></p>
</h1>
